.reservation_Check > p{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.reservation_Table {
    margin-left: auto;
    margin-right: auto;
}

.reservation_Table th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.reservation_Table td {
    padding: 10px 10px;
}

.myPageBtn {
    position: relative;
    left : 70%;
}